In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")
from datetime import datetime
import plotly.graph_objects as go
from skimage import io
import plotly.express as px
import time

In [2]:
Firday = pd.DataFrame(pd.read_csv('park-movement-Fri_New.csv'))
Firday = Firday.drop(["Unnamed: 0"], axis=1)
Firday["id"] = Firday["id"].astype(str)

In [3]:
d1 = pd.read_csv('FridayGroupCount.csv')
d2 = pd.read_csv('FridayCrowdCount.csv')
d3 = pd.read_csv('FridaySingleCount.csv')

Group = [  i.split(".", 1)[0] for i in d1.columns ]
Crowd = [  i.split(".", 1)[0] for i in d2.columns ]
Single = [  i.split(".", 1)[0] for i in d3.columns ]

Firday_Group = list(set(Group))
Firday_Crowd = list(set(Crowd)-set(Group))
Firday_Single=  list(set(list(set(Single)-set(Group)))-set(Crowd))

In [5]:
TimePointMorning = time.mktime(time.strptime("2014-6-06 11:00:00", "%Y-%m-%d %H:%M:%S"))
TimePointAfterNoon = time.mktime(time.strptime("2014-6-06 16:00:00", "%Y-%m-%d %H:%M:%S"))

ArrivalTime = Firday.copy().drop_duplicates(subset='id')
ArrivalTime["ArrivalTime"] = ArrivalTime["Timestamp"].map(lambda x: 1 if x- TimePointMorning >= 0 and x - TimePointAfterNoon <= 0 else ( 2 if x - TimePointAfterNoon >= 0 else 0 ) )
Early = list(ArrivalTime[ArrivalTime["ArrivalTime"]==0].id.unique())
Noon =  list(ArrivalTime[ArrivalTime["ArrivalTime"]==1].id.unique())
Late = list(ArrivalTime[ArrivalTime["ArrivalTime"]==2].id.unique())

In [6]:
np.mean(Firday["visit_duration"].unique())
HighDuration = list(Firday[Firday["visit_duration"] >= np.mean(Firday["visit_duration"].unique())].id.unique())
LowDuration = list(Firday[Firday["visit_duration"] < np.mean(Firday["visit_duration"].unique())].id.unique())

In [65]:
np.mean(Firday["visit_duration"].unique())

655.8172413793103

### Group 1

In [43]:
G1 = list(set(Firday_Group)&set(Early)&set(HighDuration))
G1P = Firday.loc[Firday['id'].isin(G1)]
len(G1), round(len(G1)/len(Firday.id.unique()),3)

(2235, 0.628)

In [32]:
GroupV = pd.DataFrame(G1P[G1P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
17  47  11   3007
23  69  44   2870
36  86  44   2861
29  78  48   2853
8   27  15   2852

### Group 2

In [44]:
G2 = list(set(Firday_Crowd)&set(Early)&set( HighDuration))
G2P = Firday.loc[Firday['id'].isin(G2)]
len(G2), round(len(G2)/len(Firday.id.unique()),3)

(768, 0.216)

In [33]:
GroupV = pd.DataFrame(G2P[G2P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
36  86  44   1256
17  47  11   1214
12  38  90   1195
4   17  43   1140
23  69  44   1139

### Group 3

In [45]:
G3 = list(set(Firday_Single)&set(Early)&set(HighDuration))
G3P = Firday.loc[Firday['id'].isin(G3)]
len(G3), round(len(G3)/len(Firday.id.unique()),3)

(227, 0.064)

In [34]:
GroupV = pd.DataFrame(G3P[G3P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
8   27  15    420
12  38  90    419
23  69  44    415
4   17  43    414
36  86  44    400

### Group 4

In [46]:
G4 = list(set(Firday_Group)&set(Noon))
G4P = Firday.loc[Firday['id'].isin(G4)]
len(G4), round(len(G4)/len(Firday.id.unique()),3)

(57, 0.016)

In [35]:
GroupV = pd.DataFrame(G4P[G4P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
21  69  44     63
2   16  66     62
7   27  15     57
20  63  99     57
11  38  90     54

### Group 5

In [47]:
G5 = list(set(Firday_Crowd)&set(Noon))
G5P = Firday.loc[Firday['id'].isin(G5)]
len(G5), round(len(G5)/len(Firday.id.unique()),3)

(10, 0.003)

In [36]:
GroupV = pd.DataFrame(G5P[G5P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
10  38  90     12
8   32  33     11
18  63  99     10
3   17  43     10
1   16  49     10

### Group 6

In [48]:
G6 = list(set(Firday_Single)&set(LowDuration))
G6P = Firday.loc[Firday['id'].isin(G6)]
len(G6), round(len(G6)/len(Firday.id.unique()),3)

(58, 0.016)

In [37]:
GroupV = pd.DataFrame(G6P[G6P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
4   17  43     84
27  78  48     79
29  86  44     77
3   16  66     77
8   27  15     74

### Group 7

In [53]:
G7 = list(set(Firday_Group)&set(LowDuration)&set(Early))
G7P = Firday.loc[Firday['id'].isin(G7)]
len(G7) , round(len(G7)/len(Firday.id.unique()),3)

(158, 0.044)

In [54]:
GroupV = pd.DataFrame(G7P[G7P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
10  32  33    137
23  69  44    131
21  63  99    112
4   17  43    111
3   16  66     97

### Group 8

In [50]:
G8 = list(set(Firday_Group)&set(Late))
G8P = Firday.loc[Firday['id'].isin(G8)]
len(G8), round(len(G8)/len(Firday.id.unique()),3)

(30, 0.008)

In [41]:
GroupV = pd.DataFrame(G8P[G8P.type == 1].groupby(["X","Y"])["id"].count())
GroupV = GroupV.reset_index()
GroupV.columns = ["X","Y","count"]
GroupV.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
18  69  44     35
15  47  11     28
22  78  48     25
10  32  33     23
27  86  44     18

In [55]:
g1 = pd.read_csv('FridayGapID.csv')
g2 = pd.read_csv('FridayGapMax.csv')
g3 = pd.read_csv('FridayGapMed.csv')

In [56]:
GapID = [  i.split(".", 1)[0] for i in g1.columns ]
GapMax = [  i.split(".", 1)[0] for i in g2.columns ]
GapMed = [  i.split(".", 1)[0] for i in g3.columns ]

In [57]:
inds1 =  np.argsort(GapMax)
GapH = np.array(GapID)[inds1[-150:]]
GapHV = Firday.loc[Firday['id'].isin(GapH)]

GapHV2 = pd.DataFrame(GapHV[GapHV.type == 1].groupby(["X","Y"])["id"].count())
GapHV2 = GapHV2.reset_index()
GapHV2.columns = ["X","Y","count"]

In [61]:
GapHV2.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
35  86  44    166
10  32  33    163
16  45  24    149
12  38  90    143
3   16  66    138

In [58]:
inds2 =  np.argsort(GapMed) 
Faster = np.array(GapID)[inds2[0:150]]
FasterV = Firday.loc[Firday['id'].isin(Faster)]

FasterV2 = pd.DataFrame(FasterV[FasterV.type == 1].groupby(["X","Y"])["id"].count())
FasterV2 = FasterV2.reset_index()
FasterV2.columns = ["X","Y","count"]

In [62]:
FasterV2.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
16  45  24    298
23  69  44    230
12  38  90    221
4   17  43    214
17  47  11    210

In [59]:
inds3 =  np.argsort(GapMed)
Slower = np.array(GapID)[inds3[-150:]]
SlowerV = Firday.loc[Firday['id'].isin(Slower)]

SlowerV2 = pd.DataFrame(SlowerV[SlowerV.type == 1].groupby(["X","Y"])["id"].count())
SlowerV2 = SlowerV2.reset_index()
SlowerV2.columns = ["X","Y","count"]

In [63]:
SlowerV2.sort_values(by=['count'],ascending=False)[0:5]

     X   Y  count
36  86  44    177
29  78  48    177
16  45  24    175
12  38  90    173
3   16  66    169